<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>i like movie ~</title>
</head>
<body>
    <form action="/movie-search" method="get">
        <input type="text" name="movie">
        <input type="submit" value="Search">
    </form>
    {% for i,j in movie_dict.items %}
        <p>
            <strong>{{ i|upper }}:</strong>
        </p>
        {% if i == "linkage" %}
            <p>{{ j|safe }}</p>
        {% else %}
            <p>{{ j }}</p>
        {% endif %}

    {% endfor %}
</body>
</html>